image: docker:latest

services:
  - docker:dind

before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY

build-dev-microservice:
  stage: build
  script:
#    - apk add --update --no-cache bash
#    - /bin/bash ./gitlab/buildImage.sh "dev-microservice" "git" "" "false" "" "" "alpine"
#    - /bin/bash ./gitlab/buildImage.sh "dev-microservice" "git" "" "false" "" "-debian" "debian"
    - docker build --pull -f ./alpine/Dockerfile -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG-alpine" .
    - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG-alpine"
    - docker build --pull -f ./debian/Dockerfile -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG-debian" .
    - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG-debian"
#  except:
#    - master
  only:
    - dev-microservice

build-microservice:
  stage: build
  script:
    - apk add --update --no-cache bash
    - /bin/bash ./gitlab/buildImageDockerHub.sh "microservice" "git" "" "false" "" "" "alpine"
    - /bin/bash ./gitlab/buildImageDockerHub.sh "microservice" "git" "" "false" "" "-debian" "debian"
#    - docker build --pull -t "$DH_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG" .
#    - docker push "$DH_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG"
#  except:
#    - master
  only:
    - microservice

build-issues:
  stage: build
  script:
    - docker build --pull -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG" .
#    - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG"
#  except:
#    - master
  only:
    - issue-*
